In [31]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('de_checkbook.csv')

/tmp/ipykernel_6717/3943887384.py:1: DtypeWarning: Columns (11,12,14,17,18,19,20,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('de_checkbook.csv')

In [23]:
df.head()

,FISCAL YEAR,FISCAL PERIOD,DEPARTMENT,DIVISION,VENDOR,BUDGET_REF,FUND_TYPE,FUND,FUND_DESCR,DEPTID,...,SCH_CODE_DESCR,PC_BU,PC_BU_DESCR,PROJECT,PROJECT_DESCR,ACTIVITY,ACTIVITY_DESCR,CHECK_NUMBER,CHECK_DATE,AMOUNT
0,2021,2,DEPT OF ELECTIONS,SUSSEX COUNTY ELECTIONS,-TAMERA J TIMMONS,2020.0,GENERAL,100,General Fund,700401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0001050550,08/31/2020,322.50
1,2021,6,DEPT OF NATRL RES AND ENV CONT,PARKS AND RECREATION,.CHANCELLOR LANE LLC,2021.0,SPECIAL,100,General Fund,400302,...,NaN,40000.0,Dept of Natural Resources,C4032EM-MARINA,Emergency-Marina,CONSTRUCTN,Construction,0001812359,12/16/2020,16980.00
2,2021,6,DEPT OF NATRL RES AND ENV CONT,PARKS AND RECREATION,.CHANCELLOR LANE LLC,2021.0,SPECIAL,100,General Fund,400302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0001812359,12/16/2020,10.00
3,2021,12,DEPT OF EDUCATION,CAMPUS COMMUNITY SCHOOL,1 WORLD GLOBES MAPS LLC,2021.0,SPECIAL,74,Campus Community Local,957400,...,Campus Community School,NaN,NaN,NaN,NaN,NaN,NaN,0001867325,06/24/2021,317.95
4,2021,6,DEPT OF STATE,DELAWARE ECONOMIC DEVELOPMENT,1007 MARKET FOOD HALL INC,2020.0,FEDERAL,225,Federal Funds,201001,...,NaN,10000.0,Executive,000000000015927,DOS Small Business De Relief,PUBLIC_AST,GM10-PUBLIC ASSISTANCE,0001091347,12/29/2020,36659.32

In [36]:
df2= df[["FISCAL YEAR","DEPARTMENT","ACCOUNT_DESCR","VENDOR","AMOUNT"]]
df2 = df2[(df2['ACCOUNT_DESCR'] == 'OFFICE SUPPLIES') & (df2['FISCAL YEAR'] == 2023)]
df2

,FISCAL YEAR,DEPARTMENT,ACCOUNT_DESCR,VENDOR,AMOUNT
5314195,2023,EXECUTIVE,OFFICE SUPPLIES,1ST CLASS GLASS LLC,1123.00
5316664,2023,DEPT OF EDUCATION,OFFICE SUPPLIES,4IMPRINT INC,353.03
5316671,2023,DEPT OF EDUCATION,OFFICE SUPPLIES,4IMPRINT INC,730.50
5316689,2023,DEPT OF HEALTH & SOCIAL SVS,OFFICE SUPPLIES,4IMPRINT INC,11895.06
5316693,2023,DEPT OF EDUCATION,OFFICE SUPPLIES,4IMPRINT INC,53.41
...,...,...,...,...,...
8112560,2023,DEPT OF EDUCATION,OFFICE SUPPLIES,XPRESSMYSELF COM LLC,686.82
8112846,2023,DEPT OF EDUCATION,OFFICE SUPPLIES,YAZMYN CREW,73.29
8113137,2023,DEPT OF EDUCATION,OFFICE SUPPLIES,YOUNG AUDIENCES OF EASTERN PA,1280.00
8114225,2023,DEPT OF EDUCATION,OFFICE SUPPLIES,YVETTE HARRISONBURGOS,54.00
8114672,2023,DEPT OF FINANCE,OFFICE SUPPLIES,ZENITH GP LLC,1393.00

In [42]:
result = df2.groupby('DEPARTMENT')['AMOUNT'].sum().reset_index()
result['EMPLOYEE COUNT']= 0
result.loc[result['DEPARTMENT'] == 'DEPT OF EDUCATION', 'EMPLOYEE COUNT'] = 280
result.loc[result['DEPARTMENT'] == 'DELAWARE NATIONAL GUARD', 'EMPLOYEE COUNT'] = 120
result.loc[result['DEPARTMENT'] == 'DEPT OF AGRICULTURE', 'EMPLOYEE COUNT'] = 126
result.loc[result['DEPARTMENT'] == 'DEPT OF LABOR', 'EMPLOYEE COUNT'] = 372
result.loc[result['DEPARTMENT'] == 'DEPT OF TECHNOLOGY & INFORMATI', 'EMPLOYEE COUNT'] = 309
result.loc[result['DEPARTMENT'] == 'DEPT OF FINANCE', 'EMPLOYEE COUNT'] = 260
result.head(30)

                        DEPARTMENT      AMOUNT  EMPLOYEE COUNT
0   ADVISORY COUNC EXCEPTNL CITIZN     9343.59               0
1          DELAWARE NATIONAL GUARD    14847.92             120
2    DEPARTMENT OF HUMAN RESOURCES    19930.23               0
3              DEPT OF AGRICULTURE    28683.66             126
4              DEPT OF CORRECTIONS   495131.59               0
5                DEPT OF EDUCATION  3398944.25             280
6      DEPT OF EDUCATION CONTINUED   138610.40               0
7                DEPT OF ELECTIONS   411964.40               0
8                  DEPT OF FINANCE   108802.57             260
9      DEPT OF HEALTH & SOCIAL SVS  1164075.29               0
10                   DEPT OF LABOR   762516.30             372
11  DEPT OF NATRL RES AND ENV CONT   246308.19               0
12   DEPT OF SAFETY & HOMELAND SEC   156530.34               0
13                   DEPT OF STATE   149634.72               0
14  DEPT OF TECHNOLOGY & INFORMATI    29253.09             309
15          DEPT OF TRANSPORTATION  1411304.95               0
16                       EXECUTIVE   145457.35               0
17      FIRE PREVENTION COMMISSION    62664.86               0
18                HIGHER EDUCATION   162932.78               0
19                        JUDICIAL   635130.50               0
20                           LEGAL   568059.45               0
21              LEGISLATIVE BRANCH   123018.11               0
22          OTHER ELECTIVE OFFICES    19218.01               0
23  SVS FR CHILDREN,YOUTH,FAMILIES   353269.13               0

In [43]:
result['COST PER EMPLOYEE'] = np.where(
    result['EMPLOYEE COUNT'] == 0,
    0,
    result['AMOUNT'] / result['EMPLOYEE COUNT']
)
result['COST PER EMPLOYEE'] = result['COST PER EMPLOYEE'].round(2)
result

,DEPARTMENT,AMOUNT,EMPLOYEE COUNT,COST PER EMPLOYEE
0,ADVISORY COUNC EXCEPTNL CITIZN,9343.59,0,0.00
1,DELAWARE NATIONAL GUARD,14847.92,120,123.73
2,DEPARTMENT OF HUMAN RESOURCES,19930.23,0,0.00
3,DEPT OF AGRICULTURE,28683.66,126,227.65
4,DEPT OF CORRECTIONS,495131.59,0,0.00
5,DEPT OF EDUCATION,3398944.25,280,12139.09
6,DEPT OF EDUCATION CONTINUED,138610.40,0,0.00
7,DEPT OF ELECTIONS,411964.40,0,0.00
8,DEPT OF FINANCE,108802.57,260,418.47
9,DEPT OF HEALTH & SOCIAL SVS,1164075.29,0,0.00
10,DEPT OF LABOR,762516.30,372,2049.78
11,DEPT OF NATRL RES AND ENV CONT,246308.19,0,0.00
12,DEPT OF SAFETY & HOMELAND SEC,156530.34,0,0.00
13,DEPT OF STATE,149634.72,0,0.00
14,DEPT OF TECHNOLOGY & INFORMATI,29253.09,309,94.67
15,DEPT OF TRANSPORTATION,1411304.95,0,0.00
16,EXECUTIVE,145457.35,0,0.00
17,FIRE PREVENTION COMMISSION,62664.86,0,0.00
18,HIGHER EDUCATION,162932.78,0,0.00
19,JUDICIAL,635130.50,0,0.00
20,LEGAL,568059.45,0,0.00
21,LEGISLATIVE BRANCH,123018.11,0,0.00
22,OTHER ELECTIVE OFFICES,19218.01,0,0.00
23,"SVS FR CHILDREN,YOUTH,FAMILIES",353269.13,0,0.00